<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Todo List</title>
  <style>
.task{
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.task * {
  display: inline-block;
  font-size: 18px;
}

.done {
  background-color: green;
}

.waiting{
  background-color: red;
}

.done, .waiting{
  border-radius: 100%;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
  <script src="waterbase.js"></script>
  <script src="http://10.4.2.246:20000/socket.io/socket.io.js"></script>
  <script>
angular.module('app', [])
  .controller('ListController', ['$scope', function($scope){
    //establish a new connection, once per app
    var waterbase = new Waterbase('http://10.4.2.246:20000', null, function(){
      $scope.$digest();
    });

    //get the collection from the connection, once per collection
    var taskList = waterbase.collection('task');

    //use restful methods to access and manipulate data
    $scope.list = taskList.list();

    $scope.remove = function(item){
      item.delete();
    }

    $scope.submit = function(){
      //simple validation
      if (!$scope.newTask || !$scope.newTask.length){
        return;
      }

      //using waterbase to create a new task
      console.log({
        name: $scope.newTask,
        completed: false
      });
      taskList.create({
        name: $scope.newTask,
        test: 'test',
        completed: false
      });

      //reset input field
      $scope.newTask = '';
    }
  }])
  </script>
</head>
<body>
  <h1>Todo list</h1>
  <div ng-controller="ListController">
    <div>
      <input type="text" ng-model="newTask">
      <button ng-click="submit()">submit</button>
    </div>
    <div class="task" ng-repeat="item in list" ng-click="item.completed = !item.completed">
      <div ng-class="{done: item.completed, waiting: !item.completed}"></div>
      <div class="name">{{item.name}}</div>
      <button ng-click="remove(item)">remove</button>
    </div>
  </div>
</body>
</html>
